.按钮 {
  padding: 0.5em 1.5em;
  background-color: #1890ff;
  position: relative;
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 8px rgba(#000, 0.3);
}

.按钮:hover {
  background-color: #40a9ff;
}

.按钮:active {
  background-color: #096dd9;
}
