@import "./道具品质.scss";

.道具 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.道具:hover {
  opacity: 0.8;
}

.装备副属性缩略图 {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  span {
    width: 1rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    display: inline-block;
  }
}
