.道具缩略图 {
  width: 4em;
  height: 4em;
  padding: 2px;
  border: 1px solid rgba(#000, 0.25);
  display: inline-block;
  position: relative;
}

.道具缩略图-背景 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: 5rem 5rem;
  background-position: center;
}

.道具缩略图-背景::before {
  left: -0.5em;
  bottom: -1em;
  transform: rotate(-25deg);
}

.道具缩略图-背景::after {
  right: -0.5em;
  bottom: -1em;
  transform: rotate(25deg);
}

.道具缩略图-背景::before,
.道具缩略图-背景::after {
  content: '';
  position: absolute;
  width: 6em;
  height: 3em;
  background: rgba(#000, 0.1);
}

.道具缩略图-前景 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
  position: absolute;
  font-size: small;
}

.道具缩略图-图标 {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.道具星级 {
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1rem;
  position: absolute;
  padding: 0 2px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #eee;

  &::before,
  &::after {
    content: "";
    width: 2px;
    height: 8px;
    border: 1px solid rgba(#fff, 0.2);
  }

  &::before {
    border-right: 0;
    margin-left: 1px;
    margin-right: auto;
  }

  &::after {
    border-left: 0;
    margin-left: auto;
    margin-right: 1px;
  }

  .星星 {
    font-size: small;
    margin-right: -2px;
    display: inline-block;
    color: transparent;

    &:last-child {
      margin-right: 0;
    }

    &.紫色 {
      color: #ffadd2;
    }

    &.金色 {
      color: #ffec3d;
    }

    &::before {
      content: '★';
      display: flex;
      transform: rotate(15deg);
    }
  }
}
