.道具缩略图 {
  width: 4em;
  height: 4em;
  padding: 1px;
  border: 1px solid rgba(180, 180, 180, 0.5);
  display: inline-block;
  position: relative;
}

.道具缩略图-背景 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.道具缩略图-背景::before {
  left: 0;
  bottom: 0;
  content: '';
  position: absolute;
  border: 2em solid rgba(94, 30, 30, 0.08);
  border-top-color: transparent;
  border-right-color: transparent;
  transform: rotate(-20deg);
}

.道具缩略图-背景::after {
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  border: 2em solid rgba(0, 0, 0, 0.08);
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(20deg);
}

.道具缩略图-前景 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  font-size: small;
}

.道具缩略图-图标 {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.道具星级 {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  position: absolute;
  border-bottom: 1px solid #eee;
  padding: 0 1px;

  &::before {
    content: '[';
    opacity: 0.2;
    margin-right: auto;
  }
  &::after {
    content: ']';
    opacity: 0.2;
    margin-left: auto;
  }
}

.道具星级 .星星 {
  font-size: small;
  margin-right: -2px;
}

.道具星级 .星星.紫色 {
  color: #ffadd2;
}

.道具星级 .星星.金色 {
  color: #ffec3d;
}

.道具星级 .星星::before {
  content: '★';
  display: flex;
  transform: rotate(15deg);
}
